---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Packs from "../components/Packs.astro";
import Montage from "../components/Montage.astro";
import CTA from "../components/CTA.astro";
---

<BaseLayout>
  <Hero />
  <Marquee />
  <About />
  <div class="glow-line"></div>
  <Services />
  <Packs />
  <div class="glow-line"></div>
  <Montage />
  <CTA />
</BaseLayout>
